In [7]:
import numpy as np
import pandas as pd

s1 = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d','b','a','c'])
s1

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [8]:
#reindex()
s1.reindex(index=['a','b','c','d'])

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [9]:
s1.reindex(index=['a','b','c'])

a   -5.3
b    7.2
c    3.6
dtype: float64

In [10]:
dataFrame = pd.DataFrame(np.arange(9).reshape((3,3)),
             index=['a','c','d'],
             columns=['台北', '台中', '高雄'])
dataFrame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [11]:
dataFrame.reindex(columns=['台北','台中'],index=['a','c'])

   台北  台中
a   0   1
c   3   4

In [12]:
s1 = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d','b','a','c'])
s1.drop(index=['a','c'])

d    4.5
b    7.2
dtype: float64

In [13]:
dataFrame = pd.DataFrame(np.arange(9).reshape((3,3)),
             index=['a','c','d'],
             columns=['台北', '台中', '高雄'])
display(dataFrame)
dataFrame.drop(columns='台北',index='d')

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

   台中  高雄
a   1   2
c   4   5

In [22]:
import numpy as np
import pandas as pd
scores = np.random.randint(20,100,size=(50,5))
scores_df = pd.DataFrame(scores,
             columns = ['國文','英文','數學','地理','歷史'],
             index = range(1,51))
scores_df

    國文  英文  數學  地理  歷史
1   79  56  82  32  97
2   53  63  36  91  25
3   72  54  51  48  46
4   45  77  73  91  95
5   49  66  64  72  71
6   35  33  91  27  87
7   67  45  28  86  61
8   51  77  88  34  73
9   56  36  41  66  36
10  54  34  55  52  80
11  47  78  92  56  37
12  63  41  31  40  58
13  84  85  30  20  42
14  64  49  23  69  75
15  59  53  70  97  68
16  75  78  38  54  66
17  37  20  90  82  41
18  88  90  72  74  91
19  70  94  25  98  35
20  85  61  42  67  81
21  49  35  49  87  84
22  88  59  94  40  20
23  44  63  60  71  20
24  49  37  96  27  63
25  63  86  27  71  79
26  67  27  31  85  72
27  33  45  31  90  92
28  61  57  36  20  48
29  60  85  20  37  29
30  27  78  92  88  63
31  57  47  48  50  65
32  98  59  38  36  93
33  42  27  52  61  27
34  64  43  83  59  68
35  41  29  23  70  91
36  25  30  88  95  48
37  70  33  97  95  73
38  93  43  87  52  70
39  90  57  44  67  56
40  45  75  89  58  58
41  96  28  48  58  62
42  26  33  39  52  86
43  88  20  31  55  41
44  44  37  76  41  96
45  84  84  70  68  24
46  23  43  39  32  25
47  45  56  75  74  46
48  72  66  78  90  41
49  47  20  45  32  47
50  56  46  45  98  59

In [25]:
scores_df['總分'] = scores_df['國文'] + scores_df['英文'] + scores_df['數學'] + scores_df['歷史'] + scores_df['地理']
scores_df['平均'] = scores_df['總分'] / 5
scores_df

    國文  英文  數學  地理  歷史   總分    平均
1   79  56  82  32  97  346  69.2
2   53  63  36  91  25  268  53.6
3   72  54  51  48  46  271  54.2
4   45  77  73  91  95  381  76.2
5   49  66  64  72  71  322  64.4
6   35  33  91  27  87  273  54.6
7   67  45  28  86  61  287  57.4
8   51  77  88  34  73  323  64.6
9   56  36  41  66  36  235  47.0
10  54  34  55  52  80  275  55.0
11  47  78  92  56  37  310  62.0
12  63  41  31  40  58  233  46.6
13  84  85  30  20  42  261  52.2
14  64  49  23  69  75  280  56.0
15  59  53  70  97  68  347  69.4
16  75  78  38  54  66  311  62.2
17  37  20  90  82  41  270  54.0
18  88  90  72  74  91  415  83.0
19  70  94  25  98  35  322  64.4
20  85  61  42  67  81  336  67.2
21  49  35  49  87  84  304  60.8
22  88  59  94  40  20  301  60.2
23  44  63  60  71  20  258  51.6
24  49  37  96  27  63  272  54.4
25  63  86  27  71  79  326  65.2
26  67  27  31  85  72  282  56.4
27  33  45  31  90  92  291  58.2
28  61  57  36  20  48  222  44.4
29  60  85  20  37  29  231  46.2
30  27  78  92  88  63  348  69.6
31  57  47  48  50  65  267  53.4
32  98  59  38  36  93  324  64.8
33  42  27  52  61  27  209  41.8
34  64  43  83  59  68  317  63.4
35  41  29  23  70  91  254  50.8
36  25  30  88  95  48  286  57.2
37  70  33  97  95  73  368  73.6
38  93  43  87  52  70  345  69.0
39  90  57  44  67  56  314  62.8
40  45  75  89  58  58  325  65.0
41  96  28  48  58  62  292  58.4
42  26  33  39  52  86  236  47.2
43  88  20  31  55  41  235  47.0
44  44  37  76  41  96  294  58.8
45  84  84  70  68  24  330  66.0
46  23  43  39  32  25  162  32.4
47  45  56  75  74  46  296  59.2
48  72  66  78  90  41  347  69.4
49  47  20  45  32  47  191  38.2
50  56  46  45  98  59  304  60.8